html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-family: serif;
  position: relative;
  font-size: 62.5%; }

a {
  text-decoration: none;
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

#mainPage {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  background-color: #94D3F0; }
  #mainPage::after {
    clear: both;
    content: "";
    display: table; }
  #mainPage #asideNav {
    float: left; }
  #mainPage #containerWrapper {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    background-color: #FFFFFF; }
    #mainPage #containerWrapper:last-child {
      margin-right: 0; }
    #mainPage #containerWrapper #container1 {
      background-color: pink; }
      #mainPage #containerWrapper #container1 #logoRow1 {
        background-color: grey;
        padding: 2%;
        overflow: hidden; }
        #mainPage #containerWrapper #container1 #logoRow1 #logo {
          width: 25%;
          padding: 2%;
          float: left;
          background-color: blue; }
        #mainPage #containerWrapper #container1 #logoRow1 #socialMedia {
          width: 35%;
          float: right;
          padding-left: 4%;
          margin-top: 10px;
          background-color: red; }
          #mainPage #containerWrapper #container1 #logoRow1 #socialMedia ul {
            padding-left: 0; }
          #mainPage #containerWrapper #container1 #logoRow1 #socialMedia li {
            display: inline-block; }
          #mainPage #containerWrapper #container1 #logoRow1 #socialMedia #fb {
            content: "";
            background: url("../images/social_sprite.png") no-repeat -1px -3px;
            background-size: 100px 100px;
            width: 44px;
            height: 43px; }
          #mainPage #containerWrapper #container1 #logoRow1 #socialMedia #twitter {
            content: "";
            background: url("../images/social_sprite.png") no-repeat -47px -2px;
            background-size: 100px 100px;
            width: 44px;
            height: 44px; }
          #mainPage #containerWrapper #container1 #logoRow1 #socialMedia #insta {
            content: "";
            background: url("../images/social_sprite.png") no-repeat -1px -49px;
            background-size: 100px 100px;
            width: 44px;
            height: 43px; }
      #mainPage #containerWrapper #container1 #imgRow2 {
        height: 350px;
        width: 100%;
        margin-bottom: 10px; }
        #mainPage #containerWrapper #container1 #imgRow2 img {
          width: 1200px;
          height: 350px; }
      #mainPage #containerWrapper #container1 #updateInfoRow3 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        background-color: #FFFFFF;
        /* Inset, by Dan Eden */ }
        #mainPage #containerWrapper #container1 #updateInfoRow3:last-child {
          margin-right: 0; }
        #mainPage #containerWrapper #container1 #updateInfoRow3 hr {
          border: 0;
          height: 0;
          border-top: 1px solid rgba(0, 0, 0, 0.1); }
        #mainPage #containerWrapper #container1 #updateInfoRow3 #latestNews {
          padding-left: 0;
          color: #828282; }
        #mainPage #containerWrapper #container1 #updateInfoRow3 .glance {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 31.76157%;
          border: 1px solid #B3B3B3;
          background-color: #E1E1E1;
          padding-left: 2%;
          padding-right: 2%; }
          #mainPage #containerWrapper #container1 #updateInfoRow3 .glance:last-child {
            margin-right: 0; }
          #mainPage #containerWrapper #container1 #updateInfoRow3 .glance .heading {
            padding-left: 3%;
            font-size: 1.5em;
            color: #535353; }
          #mainPage #containerWrapper #container1 #updateInfoRow3 .glance #content {
            width: 100%; }
          #mainPage #containerWrapper #container1 #updateInfoRow3 .glance #nh1 {
            display: inline-block;
            padding: 0;
            margin: 0;
            padding-left: 3%;
            padding-bottom: 10px;
            margin-right: 120px; }
          #mainPage #containerWrapper #container1 #updateInfoRow3 .glance #nh2 {
            padding-right: 2%;
            margin-left: 20px;
            display: inline-block; }
          #mainPage #containerWrapper #container1 #updateInfoRow3 .glance p {
            padding-left: 3%;
            margin-top: 5px; }
          #mainPage #containerWrapper #container1 #updateInfoRow3 .glance #todaySpecial {
            margin-right: 0; }
            #mainPage #containerWrapper #container1 #updateInfoRow3 .glance #todaySpecial .spec-img {
              width: 70%;
              height: 150px;
              margin-left: 40px;
              overflow: hidden; }
            #mainPage #containerWrapper #container1 #updateInfoRow3 .glance #todaySpecial .sp-img {
              width: 100%;
              height: 150px;
              padding-left: 40px;
              margin: 0 auto; }
          #mainPage #containerWrapper #container1 #updateInfoRow3 .glance .data2 {
            width: 100%; }
          #mainPage #containerWrapper #container1 #updateInfoRow3 .glance #item_Id1 {
            display: inline-block;
            float: left;
            width: 65%;
            padding: 0;
            margin: 0;
            padding-left: 3%;
            box-sizing: border-box; }
          #mainPage #containerWrapper #container1 #updateInfoRow3 .glance #item_Id2 {
            box-sizing: border-box;
            float: right;
            margin-right: 0;
            padding-left: 80px; }
          #mainPage #containerWrapper #container1 #updateInfoRow3 .glance #map .glance {
            overflow: hidden; }
            #mainPage #containerWrapper #container1 #updateInfoRow3 .glance #map .glance .embed {
              border: 1px solid black;
              margin-top: 10px; }
      #mainPage #containerWrapper #container1 #address {
        margin: 5px 5px;
        font-weight: normal; }
      #mainPage #containerWrapper #container1 #num-map {
        margin: 5px 5px;
        font-weight: normal; }
    #mainPage #containerWrapper #container2 {
      clear: both;
      background-color: #FFFFFF;
      overflow: hidden; }
      #mainPage #containerWrapper #container2 #dynamicContent {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        margin-right: 0;
        background-color: orange;
        height: 1200px;
        float: left; }
        #mainPage #containerWrapper #container2 #dynamicContent:last-child {
          margin-right: 0; }
        #mainPage #containerWrapper #container2 #dynamicContent .tabWrapper {
          width: 100%; }
          #mainPage #containerWrapper #container2 #dynamicContent .tabWrapper .tabs li {
            background: none;
            background-color: pink;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer; }
          #mainPage #containerWrapper #container2 #dynamicContent .tabWrapper .tabs li.open {
            background: white; }
          #mainPage #containerWrapper #container2 #dynamicContent .tabWrapper .tabContent {
            display: none;
            background: white;
            padding: 15px; }
          #mainPage #containerWrapper #container2 #dynamicContent .tabWrapper .tabContent.open {
            display: block; }
      #mainPage #containerWrapper #container2 #foodPhotosContainer {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        margin-right: 0;
        background-color: #FFFFFF;
        float: right; }
        #mainPage #containerWrapper #container2 #foodPhotosContainer:last-child {
          margin-right: 0; }
      #mainPage #containerWrapper #container2 .foodPhotos {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%;
        border: 1px solid #B3B3B3;
        height: 280px;
        background-color: #F7F7F7;
        margin: 0 0 40px 0; }
        #mainPage #containerWrapper #container2 .foodPhotos:last-child {
          margin-right: 0; }
        #mainPage #containerWrapper #container2 .foodPhotos:nth-child(1n) {
          margin-right: 0; }
        #mainPage #containerWrapper #container2 .foodPhotos:nth-child(1n+1) {
          clear: left; }
    #mainPage #containerWrapper footer {
      clear: both;
      background-color: #FFFFFF;
      border-top: 2px solid #D0D0D0;
      padding-top: 25px;
      width: 100%;
      height: 90px;
      font-size: 1em; }
