html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

#mainPage #container1 #logoRow1 #socialMedia {
  width: 20%;
  float: right;
  padding-left: 4%;
  margin-top: 10px; }
  #mainPage #container1 #logoRow1 #socialMedia ul {
    padding-left: 0; }
  #mainPage #container1 #logoRow1 #socialMedia li {
    display: inline-block; }
  #mainPage #container1 #logoRow1 #socialMedia #fb {
    content: "";
    background: url("../images/social_sprite.png") no-repeat -1px -3px;
    background-size: 100px 100px;
    width: 44px;
    height: 43px; }
  #mainPage #container1 #logoRow1 #socialMedia #twitter {
    background: url("../images/social_sprite.png") no-repeat -47px -2px;
    background-size: 100px 100px;
    width: 44px;
    height: 44px; }
  #mainPage #container1 #logoRow1 #socialMedia #insta {
    background: url("../images/social_sprite.png") no-repeat -1px -49px;
    background-size: 100px 100px;
    width: 44px;
    height: 43px; }
