@import'bourbon/bourbon';
@import'neat/neat';

//Variables
$mainBackgroundColor: #FFFFFF;
$dividingBorder: 2px solid #D0D0D0;
$mainBorder: 1px solid #B3B3B3;
$row3FontColor:#535353;

body {
  font-family: serif;
  position: relative;
  font-size: 62.5%;
} 
a { 
  text-decoration: none;
  margin: 0;
  padding: 0;

  &:visited {
    color: white;

  }
} 
ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
} 
img {
  max-width: 100%;
}
#asideNav {
  float: left;
  position: fixed;

  #fixed {
      
    li {
      padding: 0 0 1em 0;
      font-size: 2.5em;
      a:link {
        color: black;
      }
    }
  }
}

@media screen and (max-width:935px) {
  #asideNav {
    float: none;
    position: inherit;
    font-size: 1.2em;
    #fixed {
      margin: auto;
      text-align: center;
      li {
      display: inline-block;
      margin: 0 1em;
      padding: 0;
      }
    }
  }
}//@media end (asideNav)

#mainPage {
  @include outer-container;
  max-width: 1000px;
  background-color: $mainBackgroundColor;


 #containerWrapper { 
   @include span-columns(12);
   background-color: $mainBackgroundColor;


  #container1 {

//------------------------------------------
    #logoRow1 {
      background-color: grey;
      padding: 2%;
      overflow: hidden;
     

      #logo {
        width: 25%;
        padding: 2%;
        float: left;
        } //end of logo


      #socialMedia {
        width: 35%;
        float: right;
        padding-left: 4%;
        margin-top: 10px;
    
        ul{
          padding-left: 0;
        }

        li{
             display: inline-block;
          }
         #fb{
             content: "";
             background: url('../images/social_sprite.png') no-repeat -1px -3px;
             background-size: 100px 100px;
             width: 44px;
             height: 43px;
           }
         #twitter{
              content: "";
              background: url('../images/social_sprite.png') no-repeat -47px -2px;
              background-size: 100px 100px;
              width: 44px;
              height: 44px;

         }
         #insta{
              content: "";
              background: url('../images/social_sprite.png') no-repeat -1px -49px;
              background-size: 100px 100px;
              width: 44px;
              height: 43px;
         }

      } //end of socialMedia


    } //end of logoRow1

//------------------------------------------    

    #imgRow2{
    height:350px;
    width:100%;
    margin-bottom :10px;

  img{
    width: 1200px;
    height:350px;
  }
    
 } //end of imgRow2
  

//------------------------------------------

    #updateInfoRow3 {
        @include span-columns(12);
        background-color: $mainBackgroundColor;

    // Inset, by Dan Eden*** for the HR color
        hr{
            border: 0;
            height: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            // border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          }
      
        #latestNews{
          padding-left:0;
          color: #828282;
           } //end of latestNews

    
      .glance {
        @include span-columns(4 of 12);
        border: $mainBorder;
        color:$row3FontColor;
        background-color: #E1E1E1; 
        padding-left: 2%;
        padding-right:2%;
        height: 250px;
        overflow: hidden;
        display: inline-block;



          .heading{
            padding-left:3%;
            font-size:1.5em;
            color:#535353;
          }

          .data1{
            height:225px;
          } //container to display news

          #content{
            width:100%;
            height :20px;

          }


          #nh1{
          display:inline-block;
            padding:0;
            margin:0;
            padding-left: 3%;
            padding-bottom: 10px;
            margin-right: 120px;
            color:$row3FontColor;
          }
          #nh2{
            padding-right:2%;
            margin-left:20px;
            display: inline-block;
            color: $row3FontColor;
          }

          p{
            padding-left: 3%;
            margin-top:5px;
          }

            .spec-img{
            //display: inline-block;
            width:100%;
            height:150px;
            //margin-left:40px;
            overflow: hidden;
          }

        .sp-img{ 
          // display: inline-block;
         //margin-left:40px;
              width: 100%;
              overflow: hidden;
              height: 150px;
          }

        .todaySpecial {
          @include omega();
          width:100%;
          display: inline-block;
          margin:0 0 0 0 !important;
          font-weight:normal;
          color:$row3FontColor;
         }//end of todaySpeacial
          


 
 .item_id1{

    display: inline-block;
    //width:60% !important;
    padding:0;
    margin:20px 0 10px 2px !important;
    padding-left: 3%;
    box-sizing:border-box;
    font-weight: normal;
   }

 .item_id2{
  display: inline-block;
  box-sizing:border-box;
 margin:0 0 0 0  !important;
 right: 10px !important;
 bottom: 20px !important;
 font-weight:normal;
 }

 .item_id3{
  display: inline-block;
  padding-left:3%;
  font-weight:normal;
  margin: 0;
  padding-bottom:10px;
 }

         #map.glance { 
          overflow: hidden;
          height:250px;

              .embed{
                border: 1px solid black;
                margin-top:10px;
              } //end of embed
         } //end of map
          
        #map {
          height:307px;

        } //end of map
      } //end of .glance
      
    } //end of Row3

    #address{
              margin: 15px 15px;
              font-weight:normal;

              } // end of  address id

              #num-map{
                margin: 0px 15px 15px 15px;
                font-weight:normal;
              }

  } //end of container1
//------------------------------------------

  #container2 {
    clear: both;
    @include span-columns(12);
    
    background-color: $mainBackgroundColor;
    margin: 10% 0;
    // padding: 20px 0;
    overflow: hidden;
   


    #dynamicContent {
      @include span-columns(9);
      @include omega();
      height: 1200px;
      float: left;

      .tabWrapper {
        width: 100%;
        background-color: green;
      

        .tabs li {
          background: none;
          background-color: pink;
          display: inline-block;
          padding: 10px 15px;
          cursor: pointer;
          font-size: 1.5em;
        }

        .tabs li.open {
          background: white;
         
        }
        .tabContent {
          display: none;
          background: white;
          padding: 15px;
        }

        .tabContent.open {
          display: block;
        }
        #tab3 {
          form { 
            display: block;
            font-size: 2em;
            margin: 4%;

            label {
              display: block;
              margin: 2% 0 2% 0;

            input {
              display: block;
              width: 40%;

              #inputName {

              }
              #inputDate {

              }
            } //end of input
            select {
              display: block;
              margin: 2% 0 2% 0;
            }
            button {
              display: block;
              margin: 2% 0 2% 0;
              border: 1px solid black;
              border-radius: 2px;
            }
        } //#tab3
          
        } //.tabContent.open
      } //.tabWrapper
      
    } //end of tabWrapper

  } //end of dynamicContent
    #foodPhotosContainer {
      @include span-columns(3);
      @include omega();
      background-color: $mainBackgroundColor;
      float: right;
        h2 {
          font-size: 3em;
        }


    
     .foodPhotos {
      @include span-columns(3 of 3);
      @include omega(1n);
      border: $mainBorder;
      height: 240px;
      background-color: #F7F7F7;
      margin: 0 0 40px 0;

      img {
          // position: absolute; 
          // left: 20%;
          width: 100%;
          height: 240px;
        }  

     } //end of foodPhotes
    }//end of #foodPhotosContainer 
  
  } //end of container2
  footer {
    clear: both;
    background-color: $mainBackgroundColor;
    border-top: $dividingBorder;
    padding-top: 25px;
    width: 100%;
    height: 90px;
    font-size: 1em;
  } //end of footer

 } //end of containerWrapper 

} //end of mainPage


// enterSlide Website Landing Page
#pageWrapper { 
  background-color: black;

  #enterTitle {
    margin: 0 auto;
    padding: 50px;
    // background-color: pink;
    width: 60%;
    font-size: 4em;
    color: white;
  }
  #enterSlide { 
      // background-color: blue;
      margin: 0 auto; 
      position: relative; 
      width: 100%; 
      height: 500px; 
      padding: 10px; 
      // box-shadow: 0 0 20px rgba(0,0,0,0.4); 
    #firstImage {
          width: 60%;
          margin: 0 auto;
    }

    .slideImage { 
     
      margin: 0 auto;
      background-color: pink;

     
        img {
          position: absolute; 
          left: 20%;
          width: 60%;
          height: 400px;
        }  
    } //end of slide Image 
 } //end of #enterSlide  
} //end of #pageWrapper

    

  







