@import'bourbon/bourbon';
@import'neat/neat';
 

#mainPage {


  #container1 {

//------------------------------------------
    #logoRow1 {

      #logo {

      } //end of logp

      #socialMedia {
        width: 20%;
        float: right;
        padding-left: 4%;
        margin-top: 10px;

        ul{
          padding-left: 0;
        }

        li{
             display: inline-block;
        }

           #fb{
               content: "";
               background: url('../images/social_sprite.png') no-repeat -1px -3px;
               background-size: 100px 100px;
               width: 44px;
               height: 43px;
          }
           #twitter{
                background: url('../images/social_sprite.png') no-repeat -47px -2px;
                background-size: 100px 100px;
                width: 44px;
                height: 44px;
          }
           #insta{
                background: url('../images/social_sprite.png') no-repeat -1px -49px;
                background-size: 100px 100px;
                width: 44px;
                height: 43px;
          }
        } //end of socialMedia

    } //end of logoRow1

//------------------------------------------    

    #imgRow2 {
      
      

    } //end of imgRow2

//------------------------------------------


    #updateInfoRow3 {
      
      .glance {

      
        #latestNews {

        } //end of latestNews

        #todaySpecial {

          }//end of todaySpeacial

         #map {

         } //end of map

       } //end of .glance
      
    } //end of Row3

//------------------------------------------


  } //end of container1

  #container2 {

    #dynamicContent{

      } //end of dynamicContent

     .foodPhotos {

     } //end of foodPhotes

  } //end of container2



} //end of mainPage

footer {
    
  } //end of footer